<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="view.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Instagram Beta</title>
</head>
<body>
    <div class="container-home">
        <h1 class="app-title">Instagram Beta</h1>
        <div class="view-users">
            <button id="btnUsuarios">
                <span>Ver Usuarios</span>
            </button>
            <div id="resultado" class="users"></div>
        </div>
        <div class="view-posts">
            <button id="btnPublicaciones">
                <span>Ver Publicaciones</span>
            </button>
            <div id="resultado-posts" class="posts"></div>
        </div>
    </div>
    <script src="./view.js"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
</body>
</html>