<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="create.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Instagram Beta - Crear Publicación</title>
</head>
<body>
    <div class="container-create">
        <div class="content-create">
            <h1>Crear Publicación</h1>
            <form id="create-post">
                <input type="url" name="url" id="url" placeholder="URL de la imagen" required>
                <input type="text" name="title" id="title" placeholder="Título de la publicación" required>
                <textarea name="description" id="description-post" placeholder="Escribe una descripción..." required></textarea>
                <button type="submit" id="button-create">Publicar</button> 
            </form>
        </div>
    </div>
    <script src="create.js"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
</body>
</html>